<html>
	<head>
		<title>Orange and Cisco - Better together</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/cui-standard.min.css" rel="stylesheet" type="text/css">
	</head>
	<body class="cui">
		<header class="header">
			<div class="container">
				<div class="header-panels">
					<a class="header__logo" href="https://www.cisco.com" target="_blank">
						<span class="icon-cisco"></span>
					</a>
					<div class="header__title text-center">
							Cisco @ OBS EU Kick-Off 2020 - Win TOGETHER
					</div>
				</div>
				</div>
				</div>
		</header>
		<div class="content">
            {% block content %}
            {% endblock %}
        </div>
	</body>
</html>
